/* sticky footer */
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

 /* custom CSS */

body {
	background: linear-gradient(to top left, royalblue, steelblue);
	font-family: monospace, Serif, SansSerif;
	color: white;
	position: relative;
	text-align: justify;
}

.about-card {
	padding: 0.5rem 2rem;
	background: steelblue;
	border: 1px solid black;
	box-shadow: 0 0 1rem black;
}

.contact-card {
	padding: 1rem 2rem 0 1rem;
	box-shadow: 0 0 1rem black;
}

.hide {
	visibility: hidden;
}


h2 {
	margin-left: 1rem;
}

#output-area {
	padding: 1rem 0;
}

.g-recaptcha {
	padding-bottom: 1.2rem;
}

footer {
	background: black;
	min-height: 5rem;
}

footer a {
	font-size: 3rem;
	padding: 0 2rem;
}

.links {
	text-align: right;
}

.icons {
	margin-top: 1rem;
}

.copyright {
	padding-top: 2rem;
}

@media (max-width:767px) {
	footer a {
		padding: 0;
	}
}

