body {
	background-color: rgba(36, 41, 43, 1);
	font-family: monospace, Serif, SansSerif;
	color: white;
	position: relative;
}

/* navbar */
.navbar-nav {
	width: 100%;
	text-align: center;
}
.navbar-nav > li {
	float: none;
	display: inline-block;
}

.nav, .navbar-inverse {
	height: 2rem;
}

.navbar-brand {
	color: white;
}

ul {
	position: relative;
	bottom: 5rem;
}

ul li a {
	color: white;
}

ul li a:hover {
	color:black;
}

main {
	height: 100vh;
	background: url(../documentation/images/surface-planets.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.5;
}

section {
	padding: 10rem 0;
}

.img {
	float: left;
	margin-right: 2.5rem;
}

.about {
	padding: 0;
}

h2 {
	margin-left: 1rem;
}

